.case-study {
  display: flex;
  &:not(:last-child) {
    padding-bottom: 50px;
  }

  &__link {
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &__figure {
      flex-shrink: 0;
      width: 120px;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-top: 62.5%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgb(255, 203, 203);
      }
    }

    &__title {
      margin-left: 20px;
      font-size: 14px;
      line-height: 1.2;
    }
  }
}

.figure-img-case-study--out {
  transition: transform 0.8s var(--easing-1), opacity 0.8s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}
