.case-study {
  display: flex;
  &:not(:last-child) {
    padding-bottom: 50px;
  }

  &__link {
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &__figure {
      will-change: transform;
      flex-shrink: 0;
      width: 190px;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-top: 62.5%;
      }

      img {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: rgb(203, 204, 255);
      }
    }

    &__title {
      margin-left: 20px;
      font-size: 14px;
      line-height: 1.2;
      color: var(--foreground-rgb);
    }
  }
}

// .figure-img-case-study--in {
//   transition: opacity 0.8s ease-in-out;
//   opacity: 1 !important;
// }
