[data-transition-wrapper] {
  position: relative;
  width: 100%;
}

[data-transition-page-id] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-rgb);

  &:last-child {
    z-index: -1;
    // background-color: rgb(174, 255, 174);
  }

  &:first-child {
    z-index: 1;
    // background-color: rgb(255, 101, 101);
    // opacity: 0.5;
  }
}

[data-transition-indicator] {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgb(170, 0, 255);
  transform-origin: left;
  transform: scaleX(0);
  visibility: hidden;
}

.transition-indicator-active {
  transition: transform 1.2s;
  transition-timing-function: var(--easing-1);
  // visibility: visible;
  transform: scaleX(1);
}

.disable-scrolling {
  overflow: hidden;
  padding-right: var(--scroll-bar-width);
}
