---
layout: "layouts/base.njk"
permalink: case-study/{{caseStudy.url}}/index.html
pagination:
  data: caseStudies
  size: 1
  alias: caseStudy
---

<div class="c-small">
  <p>qwedqw{{caseStudy.title}}dsadqwd</p>
</div>