---
layout: "layouts/base.njk"
permalink: case-study/{{caseStudy.url}}/index.html
eleventyComputed:
  title: "{{ caseStudy.title }} | Case"
  transitionPageName: "case-study"
pagination:
  data: caseStudies
  size: 1
  alias: caseStudy
---

<div class="c-small">
    <div class="case-studies-page__wrapper">
        <p data-animation="paragraph" class="case-studies-page__wrapper__title">{{ caseStudy.title }}</p>
        <figure class="case-studies-page__wrapper__figure">
            <img src="{{ caseStudy.ogimage.thumb.url }}" alt="{{ caseStudy.title }}">
        </figure>
        <a href="/">
            <p class="case-studies-page__wrapper__link" data-animation="paragraph">
                Home
            </p>
        </a>
    </div>
</div>