<li class="case-study">
  <a class="case-study__link" href="/case-study/{{ study.url }}">
    <div class="case-study__wrapper">
      <figure class="case-study__wrapper__figure">
        <img src="{{ study.ogimage.thumb.url }}" alt="{{ study.title }}">
      </figure>
      <p class="case-study__wrapper__title">999qwdsa{{ study.title }}qweqwjrqweqw</p>
    </div>
  </a>
</li>