@font-face {
  font-family: "opensans";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/public/fonts/opensans800.woff") format("woff");
}

@font-face {
  font-family: "opensans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/public/fonts/opensans400.woff") format("woff");
}
